
#contenedor{
            width: 900px;
            height: 76;
            background:  #5A5A5A;
            margin: 0.5em auto;
            padding: 0.5em;
            text-align: left;
            color: white;
            font-family: Roboto;
            font-size: 24px;

}

#contenedor1{
            width: 900px;
            height: 257px;
            background: #C4C4C4;
            padding: 0.5em;
            position: absolute;
            top: 65px;
            text-align: center;
            font-family: Roboto;
            font-size: 48px;
            right: 310px;
            line-height: 200px;
     
}

.caja1{
       background-color: cornflowerblue; 
       width: 182px;
       height: 180px;
       float: right;
       top: 300px; 
       position: relative;
       right: 700px;
}

.caja2{
    background-color: darkgoldenrod;
    width: 182px;
    height: 180px;
    float: right;
    top: 300px; 
    position: relative;
    right: 333px;
    
}

.caja3{
    background-color: brown; 
    width: 182px;
    height: 180px;
    float: right;
    top: 300px; 
    position: relative;
    right: -35px;
    
}

.caja4{
    background-color: green;
    width: 182px;
    height: 180px;
    float: left;
    top: 500px; 
    position: relative;
    right: -700px;
    
}

.caja5{
    background-color: grey;
    width: 182px;
    height: 180px;
    float: left;
    top: 500px; 
    position: relative;
    right: -705px;
    
}

.caja6{
    background-color: hotpink;
    width: 182px;
    height: 180px;
    float: left;
    top: 500px; 
    position: relative;
    right: -710px;
    
}












    



